{% extends 'base.html' %}
{% load static %}

{% block title %}Новости{% endblock %}

{% block extra_css %}
<link href="{% static 'css/news.css' %}" rel="stylesheet">
{% endblock %}

{% block header_logo %}logo_red.png{% endblock %}
{% block burger_icon %}menu_red.png{% endblock %}

{% block nav_title %}
<h1>Новости</h1>
{% endblock %}

{% block content %}
<section class="new">
    {% for item in news_list %}
    <div class="new-content">
        <img src="{{ item.image.url }}" alt="{{ item.title }}">
        <div class="new-text">
            <a href="{% url 'news_detail' item.pk %}"><h2>{{ item.title }}</h2></a>
            <p>{{ item.short_description|default:""|truncatewords:30 }}</p> {# Краткое описание #}
        </div>
    </div>
    {% empty %}
    <p>Новостей пока нет. Добавьте их в админке.</p>
    {% endfor %}
</section>

<section class="slide">
    <button type="button"><img src="{% static 'img/left.png' %}" alt="Стрелка влево"></button>
    <p>1</p>
    <button type="button"><img src="{% static 'img/rigth.png' %}" alt="Стрелка вправо"></button>
</section>
{% endblock %}
